Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2018-05, with the labels that each got.

#239 JoeSandbox analyzers: use a sane analysis timeout
  analyzers/JoeSandbox/JoeSandbox_File_Analysis_Inet.json
  analyzers/JoeSandbox/JoeSandbox_File_Analysis_Noinet.json
  analyzers/JoeSandbox/JoeSandbox_Url_Analysis.json
Labels: analyzer, bug, enhancement

#242 Download only new hash files
  analyzers/Virusshare/getHashes.sh
Labels: enhancement, pr-submitted

#256 Created Mnemonic PDNS public and closed analyzers
  analyzers/Mnemonic_pdns/mnemonic_pdns_closed.json
  analyzers/Mnemonic_pdns/mnemonic_pdns_public.json
  analyzers/Mnemonic_pdns/pdns.py
  analyzers/Mnemonic_pdns/requirements.txt
  thehive-templates/Mnemonic_PDNS_closed_3_0/long.html
  thehive-templates/Mnemonic_PDNS_closed_3_0/short.html
  thehive-templates/Mnemonic_pDNS_public_3_0/long.html
  thehive-templates/Mnemonic_pDNS_public_3_0/short.html
Labels: analyzer, enhancement, needs review

#252 New analyzer: malwares.com
  analyzers/Malwares/Malwares_GetReport.json
  analyzers/Malwares/Malwares_Scan.json
  analyzers/Malwares/malwares.py
  analyzers/Malwares/malwares_api.py
  analyzers/Malwares/requirements.txt
  thehive-templates/Malwares_GetReport_1_0/long.html
  thehive-templates/Malwares_GetReport_1_0/short.html
  thehive-templates/Malwares_Scan_1_0/long.html
  thehive-templates/Malwares_Scan_1_0/short.html
Labels: analyzer, enhancement, needs review
