Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2018-12, with the labels that each got.

#386 Adding Patrowl analyzer
  analyzers/Patrowl/.gitignore
  analyzers/Patrowl/Patrowl_GetReport.json
  analyzers/Patrowl/README.md
  analyzers/Patrowl/patrowl.py
  analyzers/Patrowl/requirements.txt
  analyzers/Patrowl/templates/Patrowl_GetReport_long.html
  analyzers/Patrowl/templates/Patrowl_GetReport_short.html
Labels: analyzer, pr-submitted, under review

#392 Analyzer/Umbrella & Templates
  analyzers/Umbrella/Umbrella.py
  analyzers/Umbrella/Umbrella_Report.json
  analyzers/Umbrella/requirements.txt
  thehive-templates/Umbrella_Report_1_0/long.html
  thehive-templates/Umbrella_Report_1_0/short.html
Labels: enhancement, new-analyzer

#368 Additional features for IBM X-force plug-in
  analyzers/IBMXForce/IBMXForce_Lookup.json
  analyzers/IBMXForce/ibmxforce_lookup.py
Labels: analyzer, enhancement, under review
