Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2018-11, with the labels that each got.

#365 fix in case GSB value is missing
  analyzers/URLhaus/URLhaus.py
Labels: analyzer, bug, pr-submitted

#364 fix: "cut: the delimiter must be a single character"
  analyzers/Virusshare/getHashes.sh
Labels: analyzer, bug, pr-submitted

#358 Fix for Fortiguard to handle FQDNs as well as domains and urls
  analyzers/Fortiguard/Fortiguard_URLCategory.json
  analyzers/Fortiguard/urlcategory.py
Labels: analyzer, enhancement, needs review

#367 Added HIBP Analyzer with templates
  analyzers/HIBP_Query/HIBP_Query.json
  analyzers/HIBP_Query/hibpquery_analyzer.py
  analyzers/HIBP_Query/input
  thehive-templates/HIBP_Query_1_0/long.html
  thehive-templates/HIBP_Query_1_0/short.html
Labels: new-analyzer, pr-submitted

#371 feat: add SecurityTrails analyzers
  analyzers/SecurityTrails/SecurityTrails_Passive_DNS.json
  analyzers/SecurityTrails/SecurityTrails_Whois.json
  analyzers/SecurityTrails/requirements.txt
  analyzers/SecurityTrails/securitytrails.py
  analyzers/SecurityTrails/securitytrails_analyzer.py
  thehive-templates/SecurityTrails_Passive_DNS_1.0/long.html
  thehive-templates/SecurityTrails_Passive_DNS_1.0/short.html
  thehive-templates/SecurityTrails_Whois_1.0/long.html
  thehive-templates/SecurityTrails_Whois_1.0/short.html
Labels: new-analyzer, pr-submitted, under review

#374 New analyzer : Cyberprotect ThreatScore
  analyzers/Cyberprotect/CyberprotectAnalyzer.py
  analyzers/Cyberprotect/Cyberprotect_ThreatScore.json
  analyzers/Cyberprotect/requirements.txt
  thehive-templates/Cyberprotect_ThreatScore/long.html
  thehive-templates/Cyberprotect_ThreatScore/short.html
Labels: new-analyzer
