Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2019-12, with the labels that each got.

#562 Updating GreyNoise analyzer to use v2 API
  analyzers/GreyNoise/greynoise.py
Labels: analyzer, enhancement, pr-submitted

#537 fix some typo
  analyzers/CuckooSandbox/cuckoosandbox_analyzer.py
  analyzers/CyberCrime-Tracker/cct.py
  analyzers/FileInfo/submodules/submodule_base.py
  analyzers/FireHOLBlocklists/firehol_blocklists.py
  analyzers/Onyphe/onyphe_api.py
Labels: analyzer, enhancement

#448 Maltiverse Analyzer
  .gitignore
  analyzers/Maltiverse/Maltiverse_Report.json
  analyzers/Maltiverse/maltiverse-client.py
  analyzers/Maltiverse/requirements.txt
  thehive-templates/Maltiverse_Report_1_0/long.html
  thehive-templates/Maltiverse_Report_1_0/short.html
Labels: analyzer, needs review, pr-submitted, question

#351 Malware clustering
  analyzers/MalwareClustering/MalwareClustering.json
  analyzers/MalwareClustering/README.md
  analyzers/MalwareClustering/data/UserDB.TXT
  analyzers/MalwareClustering/data/winapi1024v1.txt
  analyzers/MalwareClustering/malwareclustering.py
  analyzers/MalwareClustering/malwareclustering_api.py
  analyzers/MalwareClustering/pylouvain.py
  analyzers/MalwareClustering/requirements.txt
  thehive-templates/MalwareClustering_1_0/long.html
  thehive-templates/MalwareClustering_1_0/short.html
Labels: needs review, new-analyzer, pr-submitted

#558 fix for Shodan
  analyzers/Shodan/Shodan_DNSResolve.json
  analyzers/Shodan/Shodan_InfoDomain.json
Labels: analyzer, enhancement

#557 fix for threatcrowd
  analyzers/Threatcrowd/Threatcrowd.json
  analyzers/Threatcrowd/threatcrowd_analyzer.py
Labels: analyzer, enhancement, needs review, pr-submitted

#555 fix for virus total
  analyzers/VirusTotal/VirusTotal_GetReport.json
  analyzers/VirusTotal/virustotal.py
Labels: analyzer, enhancement

#469 Abuse_Finder : Add support to Python3.6
  analyzers/Abuse_Finder/requirements.txt
Labels: analyzer, enhancement
