Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2019-11, with the labels that each got.

#546 fixed Talos analyzer
  analyzers/TalosReputation/TalosReputation.py
Labels: analyzer, enhancement, needs review, pr-submitted

#510 Metadefender analyzer
  analyzers/MetaDefender/MetaDefenderCloud_GetReport.json
  analyzers/MetaDefender/MetaDefenderCloud_Reputation.json
  analyzers/MetaDefender/MetaDefenderCloud_Scan.json
  analyzers/MetaDefender/MetaDefenderCore_GetReport.json
  analyzers/MetaDefender/MetaDefenderCore_Scan.json
  analyzers/MetaDefender/metadefender_lookup.py
  analyzers/MetaDefender/requirements.txt
  thehive-templates/MetaDefenderCloud_GetReport_1_0/long.html
  thehive-templates/MetaDefenderCloud_GetReport_1_0/short.html
  thehive-templates/MetaDefenderCloud_Reputation_1_0/long.html
  thehive-templates/MetaDefenderCloud_Reputation_1_0/short.html
  thehive-templates/MetaDefenderCloud_Scan_1_0/long.html
  thehive-templates/MetaDefenderCloud_Scan_1_0/short.html
  thehive-templates/MetaDefenderCore_GetReport_1_0/long.html
  thehive-templates/MetaDefenderCore_GetReport_1_0/short.html
  thehive-templates/MetaDefenderCore_Scan_1_0/long.html
  thehive-templates/MetaDefenderCore_Scan_1_0/short.html
Labels: analyzer, new-analyzer, pr-submitted

#512 updated joesandbox analyzer
  analyzers/JoeSandbox/joesandbox_analyzer.py
  analyzers/JoeSandbox/requirements.txt
Labels: analyzer, enhancement, needs review, pr-submitted

#514 Support for Cuckoo 2.0.7 and custom CA
  analyzers/CuckooSandbox/CuckooSandbox_File_Analysis.json
  analyzers/CuckooSandbox/CuckooSandbox_Url_Analysis.json
  analyzers/CuckooSandbox/cuckoosandbox_analyzer.py
  analyzers/catalog-devel.json
  analyzers/catalog-stable.json
  analyzers/catalog.json
Labels: analyzer, enhancement, needs review, pr-submitted

#517 removed python builtins from requirements.txt
  responders/FalconCustomIOC/requirements.txt
Labels: analyzer, enhancement, pr-submitted

#479 Umbrella analyzer: query_limit: error if no data provided
  analyzers/Umbrella/Umbrella.py
Labels: analyzer, bug, pr-submitted

#485 fix when hash not found
  analyzers/URLhaus/URLhaus_analyzer.py
Labels: analyzer, bug, enhancement, pr-submitted
