Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2020-06, with the labels that each got.

#760 DomainTools Iris Analyzer Report Updates
  analyzers/DomainToolsIris/domaintoolsiris_analyzer.py
  thehive-templates/DomainToolsIris_Investigate_1_0/long.html
  thehive-templates/DomainToolsIris_Pivot_1_0/long.html
Labels: analyzer, enhancement, high-pri, in progress

#739 Initial commit for SendGrid responder
  responders/SendGrid/SendGrid.json
  responders/SendGrid/SendGrid.py
  responders/SendGrid/requirements.txt
Labels: analyzer

#764 Add auth to Mailer and support for tasks
  responders/Mailer/Mailer.json
  responders/Mailer/mailer.py
Labels: responder

#768 #759 module_type removed in ThreatResponse
  analyzers/ThreatResponse/ThreatResponse.py
Labels: analyzer

#483 Updating to use new API
  analyzers/SinkDB/SinkDB.json
  analyzers/SinkDB/sinkdb.py
  thehive-templates/SinkDB_1_0/long.html
Labels: analyzer, enhancement, needs review, pr-submitted, under review

#787 Documentation initialisation
  .drone.yml
  docs/analyzers_definition.md
  docs/how-to-create-an-analyzer.md
  docs/images/cortex-logo.png
  docs/images/cortex-main.png
  docs/images/sc-long-vt.jpg
  docs/images/sc-short-vt.png
Labels: enhancement

#766 Add new responder VirustotalDownloader #765
  responders/VirustotalDownloader/VirustotalDownloader.json
  responders/VirustotalDownloader/VirustotalDownloader.py
  responders/VirustotalDownloader/requirements.txt
Labels: needs review, new-responder, pr-submitted
