Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2020-03, with the labels that each got.

#547 Update UmbrellaBlacklister
  responders/UmbrellaBlacklister/UmbrellaBlacklister.json
  responders/UmbrellaBlacklister/UmbrellaBlacklister.py
Labels: analyzer, enhancement, needs review, pr-submitted

#505 added IntezerCommunity analyzer
  analyzers/IntezerCommunity/IntezerCommunity.json
  analyzers/IntezerCommunity/intezer_community.py
  analyzers/IntezerCommunity/requirements.txt
  thehive-templates/IntezerCommunity_1_0/long.html
  thehive-templates/IntezerCommunity_1_0/short.html
Labels: analyzer, needs review, new-analyzer

#572 DomainTools Iris - Investigate Analyzer
  analyzers/DomainToolsIris/DomainToolsIris_Investigate.json
  analyzers/DomainToolsIris/domaintoolsiris_analyzer.py
  analyzers/DomainToolsIris/screenshots/InvestigateLongSummary.png
  analyzers/DomainToolsIris/screenshots/InvestigateShortSummary.png
  thehive-templates/DomainToolsIris_Investigate_1_0/long.html
  thehive-templates/DomainToolsIris_Investigate_1_0/short.html
Labels: analyzer, new-analyzer

#518 [ThreatCrowd ] Fixing Unexpected Error: get() takes exactly 1 argument (2 given)
  analyzers/Threatcrowd/threatcrowd_analyzer.py
Labels: analyzer, enhancement, needs review

#538 Fix - updated cortexutil Extractor return keys
  analyzers/MISPWarningLists/mispwarninglists.py
Labels: analyzer, enhancement, pr-submitted

#522 Issue #521 Fix - Talos Analyzer No Longer Works
  analyzers/TalosReputation/TalosReputation.py
Labels: analyzer, enhancement, pr-submitted
