Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2020-09, with the labels that each got.

#849 New analyzer: Inoitsu email lookup.
  analyzers/Inoitsu/Inoitsu.json
  analyzers/Inoitsu/README.md
  analyzers/Inoitsu/assets/Inoitsu_long.png
  analyzers/Inoitsu/assets/Inoitsu_short.png
  analyzers/Inoitsu/assets/inoitsu_logo.png
  analyzers/Inoitsu/inoitsu_analyzer.py
  analyzers/Inoitsu/requirements.txt
  thehive-templates/Inoitsu_1_0/long.html
  thehive-templates/Inoitsu_1_0/short.html
Labels: needs review, new-analyzer

#840 Added Shuffle workflow execution responder
  responders/Shuffle/requirements.txt
  responders/Shuffle/shuffle.json
  responders/Shuffle/shuffle.py
Labels: new-responder

#854 Included privacy type setting for URL/File analysis
  analyzers/AnyRun/AnyRun_Sandbox_Analysis.json
  analyzers/AnyRun/anyrun_analyzer.py
Labels: enhancement
