Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2020-01, with the labels that each got.

#549 New Responder KnowBe4
  analyzers/KnowBe4/Dockerfile
  analyzers/KnowBe4/KnowBe4.json
  analyzers/KnowBe4/KnowBe4.py
  analyzers/KnowBe4/requirements.txt
  responders/KnowBe4/Dockerfile
  responders/KnowBe4/KnowBe4.json
  responders/KnowBe4/KnowBe4.py
  responders/KnowBe4/requirements.txt
Labels: new-responder

#582 Add Wazuh responder
  responders/Wazuh/requirements.txt
  responders/Wazuh/wazuh.json
  responders/Wazuh/wazuh.py
Labels: needs-docs, new-responder

#588 DomainTools Iris - Malicious Tags Responder
  responders/DomainToolsIris_CheckMaliciousTags/DomainToolsIris_CheckMaliciousTags.json
  responders/DomainToolsIris_CheckMaliciousTags/domaintoolsiris_responder.py
  responders/DomainToolsIris_CheckMaliciousTags/requirements.txt
Labels: new-responder

#587 DomainTools Iris - Risky DNS Responder
  responders/DomainToolsIris_AddRiskyDNSTag/DomainToolsIris_AddRiskyDNSTag.json
  responders/DomainToolsIris_AddRiskyDNSTag/domaintoolsiris_responder.py
  responders/DomainToolsIris_AddRiskyDNSTag/requirements.txt
Labels: new-responder

#581 Add Palo Alto Minemeld Responder
  responders/Minemeld/minemeld.json
  responders/Minemeld/minemeld.py
  responders/Minemeld/requirements.txt
Labels: new-responder

#580 Add TeamCymruMHR Analyzer
  analyzers/TeamCymruMHR/TeamCymruMHR.json
  analyzers/TeamCymruMHR/TeamCymruMHR.py
  analyzers/TeamCymruMHR/requirements.txt
  thehive-templates/TeamCymruMHR_1_0/long.html
  thehive-templates/TeamCymruMHR_1_0/short.html
Labels: new-analyzer

#473 Autofocus analyzer v1
  analyzers/Autofocus/AUTOFOCUS_GetSampleAnalysis.json
  analyzers/Autofocus/AUTOFOCUS_SearchIOC.json
  analyzers/Autofocus/AUTOFOCUS_SearchJSON.json
  analyzers/Autofocus/analyzer.py
  analyzers/Autofocus/requirements.txt
Labels: new-analyzer

#585 Add Spamhaus DBL analyzer
  analyzers/SpamhausDBL/SpamhausDBL.json
  analyzers/SpamhausDBL/requirements.txt
  analyzers/SpamhausDBL/spamhausdbl.py
  thehive-templates/SpamhausDBL_1_0/long.html
  thehive-templates/SpamhausDBL_1_0/short.html
Labels: new-analyzer
