Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2020-08, with the labels that each got.

#780 feat: Adds SEKOIA analyzers
  analyzers/SEKOIAIntelligenceCenter/IntelligenceCenter_Context.json
  analyzers/SEKOIAIntelligenceCenter/IntelligenceCenter_Indicators.json
  analyzers/SEKOIAIntelligenceCenter/README.md
  analyzers/SEKOIAIntelligenceCenter/assets/SEKOIAIntelligenceCenter_Context_long.png
  analyzers/SEKOIAIntelligenceCenter/assets/SEKOIAIntelligenceCenter_Indicators_long.png
  analyzers/SEKOIAIntelligenceCenter/assets/sekoia_logo.png
  analyzers/SEKOIAIntelligenceCenter/requirements.txt
  analyzers/SEKOIAIntelligenceCenter/sekoia_intelligence_center_analyzer.py
  thehive-templates/SEKOIAIntelligenceCenter_Context_1_0/long.html
  thehive-templates/SEKOIAIntelligenceCenter_Context_1_0/short.html
  thehive-templates/SEKOIAIntelligenceCenter_Indicators_1_0/long.html
  thehive-templates/SEKOIAIntelligenceCenter_Indicators_1_0/short.html
Labels: new-analyzer, pr-submitted, under review

#534 New version of the Splunk analyzer for Cortex
  analyzers/Splunk/Splunk_Search_domain_fqdn.json
  analyzers/Splunk/Splunk_Search_file_filename.json
  analyzers/Splunk/Splunk_Search_hash.json
  analyzers/Splunk/Splunk_Search_ip.json
  analyzers/Splunk/Splunk_Search_mail_email.json
  analyzers/Splunk/Splunk_Search_mail_subject.json
  analyzers/Splunk/Splunk_Search_other.json
  analyzers/Splunk/Splunk_Search_registry.json
  analyzers/Splunk/Splunk_Search_url_uri_path.json
  analyzers/Splunk/Splunk_Search_user.json
  analyzers/Splunk/Splunk_Search_user_agent.json
  analyzers/Splunk/requirements.txt
  analyzers/Splunk/splunk.py
  thehive-templates/Splunk_Search_Domain_FQDN_3_0/long.html
  thehive-templates/Splunk_Search_Domain_FQDN_3_0/short.html
  thehive-templates/Splunk_Search_File_Filename_3_0/long.html
  thehive-templates/Splunk_Search_File_Filename_3_0/short.html
  thehive-templates/Splunk_Search_Hash_3_0/long.html
  thehive-templates/Splunk_Search_Hash_3_0/short.html
  thehive-templates/Splunk_Search_IP_3_0/long.html
  thehive-templates/Splunk_Search_IP_3_0/short.html
  thehive-templates/Splunk_Search_Mail_Email_3_0/long.html
  thehive-templates/Splunk_Search_Mail_Email_3_0/short.html
  thehive-templates/Splunk_Search_Mail_Subject_3_0/long.html
  thehive-templates/Splunk_Search_Mail_Subject_3_0/short.html
  thehive-templates/Splunk_Search_Other_3_0/long.html
  thehive-templates/Splunk_Search_Other_3_0/short.html
  thehive-templates/Splunk_Search_Registry_3_0/long.html
  thehive-templates/Splunk_Search_Registry_3_0/short.html
  thehive-templates/Splunk_Search_URL_URI_Path_3_0/long.html
  thehive-templates/Splunk_Search_URL_URI_Path_3_0/short.html
  thehive-templates/Splunk_Search_User_3_0/long.html
  thehive-templates/Splunk_Search_User_3_0/short.html
  thehive-templates/Splunk_Search_User_Agent_3_0/long.html
  thehive-templates/Splunk_Search_User_Agent_3_0/short.html
Labels: analyzer, needs review, new-analyzer, pr-submitted

#816 New analyzer: NERD
  analyzers/NERD/assets/NERD_logo.png
  analyzers/NERD/assets/NERD_long.png
  analyzers/NERD/assets/NERD_short.png
  analyzers/NERD/nerd.json
  analyzers/NERD/nerd_analyzer.py
  analyzers/NERD/requirements.txt
  thehive-templates/NERD_1_0/long.html
  thehive-templates/NERD_1_0/short.html
Labels: new-analyzer, pr-submitted

#811 Feature/spamassassin
  analyzers/SpamAssassin/SpamAssassin.json
  analyzers/SpamAssassin/assets/SpamAssassin_logo.png
  analyzers/SpamAssassin/assets/SpamAssassin_long.png
  analyzers/SpamAssassin/assets/SpamAssassin_short.png
  analyzers/SpamAssassin/requirements.txt
  analyzers/SpamAssassin/spamassassin.py
  thehive-templates/SpamAssassin_1_0/long.html
  thehive-templates/SpamAssassin_1_0/short.html
Labels: analyzer, high-pri, new-analyzer

#837 [Splunk] Adding documentation
  analyzers/Splunk/README.md
  analyzers/Splunk/Splunk_Search_domain_fqdn.json
  analyzers/Splunk/Splunk_Search_file_filename.json
  analyzers/Splunk/Splunk_Search_hash.json
  analyzers/Splunk/Splunk_Search_ip.json
  analyzers/Splunk/Splunk_Search_mail_email.json
  analyzers/Splunk/Splunk_Search_mail_subject.json
  analyzers/Splunk/Splunk_Search_other.json
  analyzers/Splunk/Splunk_Search_registry.json
  analyzers/Splunk/Splunk_Search_url_uri_path.json
  analyzers/Splunk/Splunk_Search_user.json
  analyzers/Splunk/Splunk_Search_user_agent.json
  analyzers/Splunk/assets/Splunk_Search_Domain_FQDN_long.png
  analyzers/Splunk/assets/Splunk_Search_Domain_FQDN_short.png
  analyzers/Splunk/assets/Splunk_Search_File_Filename_long.png
  analyzers/Splunk/assets/Splunk_Search_File_Filename_short.png
  analyzers/Splunk/assets/Splunk_Search_Hash_long.png
  analyzers/Splunk/assets/Splunk_Search_Hash_short.png
  analyzers/Splunk/assets/Splunk_Search_IP_long.png
  analyzers/Splunk/assets/Splunk_Search_IP_short.png
  analyzers/Splunk/assets/Splunk_Search_Mail_Email_long.png
  analyzers/Splunk/assets/Splunk_Search_Mail_Email_short.png
  analyzers/Splunk/assets/Splunk_Search_Mail_Subject_long.png
  analyzers/Splunk/assets/Splunk_Search_Mail_Subject_short.png
  analyzers/Splunk/assets/Splunk_Search_Other_long.png
  analyzers/Splunk/assets/Splunk_Search_Other_short.png
  analyzers/Splunk/assets/Splunk_Search_Registry_long.png
  analyzers/Splunk/assets/Splunk_Search_Registry_short.png
  analyzers/Splunk/assets/Splunk_Search_URL_URI_Path_long.png
  analyzers/Splunk/assets/Splunk_Search_URL_URI_Path_short.png
  analyzers/Splunk/assets/Splunk_Search_User_Agent_long.png
  analyzers/Splunk/assets/Splunk_Search_User_Agent_short.png
  analyzers/Splunk/assets/Splunk_Search_User_long.png
  analyzers/Splunk/assets/Splunk_Search_User_short.png
  analyzers/Splunk/assets/splunk_domain_logo.png
  analyzers/Splunk/assets/splunk_file_logo.png
  analyzers/Splunk/assets/splunk_hash_logo.png
  analyzers/Splunk/assets/splunk_ip_logo.png
  analyzers/Splunk/assets/splunk_mail_logo.png
  analyzers/Splunk/assets/splunk_mail_subject_logo.png
  analyzers/Splunk/assets/splunk_other_logo.png
  analyzers/Splunk/assets/splunk_registry_logo.png
  analyzers/Splunk/assets/splunk_url_logo.png
  analyzers/Splunk/assets/splunk_user_agent_logo.png
  analyzers/Splunk/assets/splunk_user_logo.png
  analyzers/Splunk/credits.txt
  analyzers/Splunk/splunk.py
Labels: analyzer, high-pri

#803 Initial Velociraptor Responder
  responders/Velociraptor/requirements.txt
  responders/Velociraptor/velociraptor_flow.json
  responders/Velociraptor/velociraptor_flow.py
Labels: new-responder
