Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2021-01, with the labels that each got.

#823 Updated VMRay Analyzer
  analyzers/VMRay/VMRay.json
  analyzers/VMRay/vmray.py
  analyzers/VMRay/vmrayclient.py
  thehive-templates/VMRay_3_0/short.html
  thehive-templates/VMRay_3_1/long.html
  thehive-templates/VMRay_3_1/short.html
Labels: analyzer-update

#876 [New Analyzer] Elasticsearch Analyzer
  analyzers/Elasticsearch/ElasticSearch.json
  analyzers/Elasticsearch/elk.py
  analyzers/Elasticsearch/requirements.txt
  thehive-templates/Elasticsearch/long.html
  thehive-templates/Elasticsearch/short.html
Labels: category:new-analyzer, scope:analyzer, status:needs-review

#589 LdapQuery Analyzer
  analyzers/LdapQuery/LdapQuery.json
  analyzers/LdapQuery/ldapQuery.py
  analyzers/LdapQuery/requirements.txt
  thehive-templates/LdapQuery_1_0/long.html
  thehive-templates/LdapQuery_1_0/short.html
Labels: category:new-analyzer, status:needs-docs
