Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2022-07, with the labels that each got.

#1109 Improved emlParser
  analyzers/EmlParser/EmlParser.json
  analyzers/EmlParser/parse.py
Labels: analyzer-update

#1111 Virustotal v3
  analyzers/VirusTotal/VirusTotal_DownloadSample.json
  analyzers/VirusTotal/VirusTotal_GetReport.json
  analyzers/VirusTotal/VirusTotal_Rescan.json
  analyzers/VirusTotal/VirusTotal_Scan.json
  analyzers/VirusTotal/requirements.txt
  analyzers/VirusTotal/virustotal.py
  thehive-templates/EmlParser_2_0/short.html
  thehive-templates/VirusTotal_DownloadSample_3_1/long.html
  thehive-templates/VirusTotal_GetReport_3_0/long.html
  thehive-templates/VirusTotal_GetReport_3_0/short.html
  thehive-templates/VirusTotal_GetReport_3_1/long.html
  thehive-templates/VirusTotal_Rescan_3_1/long.html
  thehive-templates/VirusTotal_Scan_3_0/long.html
  thehive-templates/VirusTotal_Scan_3_0/short.html
  thehive-templates/VirusTotal_Scan_3_1/long.html
Labels: analyzer-update

#1002 IP-API analyzer
  analyzers/IP-API/IP-API.json
  analyzers/IP-API/IP-API.py
  analyzers/IP-API/requirements.txt
  thehive-templates/IP-API_1_0/long.html
  thehive-templates/IP-API_1_0/short.html
Labels: category:new-analyzer

#1085 Add additional taxonomy for IPinfo
  analyzers/IPinfo/ipinfo_analyzer.py
Labels: scope:analyzer, analyzer-update

#1087 Add authentication option for Maltiverse
  analyzers/Maltiverse/Maltiverse_Report.json
  analyzers/Maltiverse/maltiverse-client.py
Labels: category:enhancement

#1093 feat: Improve templates for SEKOIA analyzers
  thehive-templates/SEKOIAIntelligenceCenter_Context_1_0/long.html
  thehive-templates/SEKOIAIntelligenceCenter_Indicators_1_0/long.html
  thehive-templates/SEKOIAIntelligenceCenter_Observables_1_0/long.html
Labels: category:enhancement

#1000 CheckPhish analyzer
  analyzers/CheckPhish/CheckPhish.json
  analyzers/CheckPhish/CheckPhish.py
  analyzers/CheckPhish/CheckPhish_Submit.json
  analyzers/CheckPhish/requirements.txt
  thehive-templates/CheckPhish_1_0/long.html
  thehive-templates/CheckPhish_1_0/short.html
  thehive-templates/CheckPhish_Submit_1_0/long.html
  thehive-templates/CheckPhish_Submit_1_0/short.html
Labels: category:new-analyzer

#1008 Verifalia analyzer
  analyzers/Verifalia/Verifalia.json
  analyzers/Verifalia/Verifalia.py
  analyzers/Verifalia/requirements.txt
  thehive-templates/Verifalia_1_0/long.html
  thehive-templates/Verifalia_1_0/short.html
Labels: category:new-analyzer

#999 Bitcoin Abuse analyzer
  analyzers/BitcoinAbuse/BitcoinAbuse.json
  analyzers/BitcoinAbuse/BitcoinAbuse.py
  analyzers/BitcoinAbuse/requirements.txt
  thehive-templates/BitcoinAbuse_1_0/long.html
  thehive-templates/BitcoinAbuse_1_0/short.html
Labels: category:new-analyzer

#1006 ThreatMiner analyzer
  analyzers/ThreatMiner/ThreatMiner.json
  analyzers/ThreatMiner/ThreatMiner.py
  analyzers/ThreatMiner/requirements.txt
  thehive-templates/ThreatMiner_1_0/long.html
  thehive-templates/ThreatMiner_1_0/short.html
Labels: category:new-analyzer

#1004 KasperskyTIP analyzer
  analyzers/KasperskyTIP/KasperskyTIP.json
  analyzers/KasperskyTIP/KasperskyTIP.py
  analyzers/KasperskyTIP/requirements.txt
  thehive-templates/KasperskyTIP_1_0/long.html
  thehive-templates/KasperskyTIP_1_0/short.html
Labels: category:new-analyzer
