Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2022-01, with the labels that each got.

#797 Added a Analyzer for Crowdstrikes Falcon X Sandbox
  analyzers/FalconSandbox/FalconSandbox.json
  analyzers/FalconSandbox/FalconSandbox.py
  analyzers/FalconSandbox/long.html
  analyzers/FalconSandbox/requirements.txt
  analyzers/FalconSandbox/short.html
Labels: status:pr-submitted, status:needs-review, category:new-analyzer

#909 New responder for Microsoft defender for Endpoints
  responders/MSDefenderEndpoints/.gitignore
  responders/MSDefenderEndpoints/MSDefenderEndpoints.py
  responders/MSDefenderEndpoints/MSDefenderEndpoints_Isolate.json
  responders/MSDefenderEndpoints/MSDefenderEndpoints_PushIOCAlert.json
  responders/MSDefenderEndpoints/MSDefenderEndpoints_PushIOCBlock.json
  responders/MSDefenderEndpoints/MSDefenderEndpoints_Unisolate.json
  responders/MSDefenderEndpoints/MSDefenderEndpoints_VirusScan.json
  responders/MSDefenderEndpoints/README.md
  responders/MSDefenderEndpoints/img/thehive_integration.jpg
  responders/MSDefenderEndpoints/requirements.txt
Labels: status:pr-submitted, scope:responder, category:new-responder

#1076 Update: CIRCLHashlookup 1.1
  analyzers/CIRCLHashlookup/CIRCLHashlookup.json
  analyzers/CIRCLHashlookup/circlhashlookup_analyzer.py
  thehive-templates/CIRCLHashlookup_1_0/long.html
  thehive-templates/CIRCLHashlookup_1_1/long.html
  thehive-templates/CIRCLHashlookup_1_1/short.html
Labels: category:upgrade

#979 Cylance analyzer
  analyzers/Cylance/Cylance.json
  analyzers/Cylance/README.md
  analyzers/Cylance/assets/cylance_host_lookup_long.png
  analyzers/Cylance/assets/cylance_logo.png
  analyzers/Cylance/assets/cylance_sample_lookup_long.png
  analyzers/Cylance/assets/cylance_sample_lookup_short.png
  analyzers/Cylance/cylance.py
  analyzers/Cylance/requirements.txt
  thehive-templates/Cylance_1_0/long.html
  thehive-templates/Cylance_1_0/short.html
Labels: category:new-analyzer

#981 Zscaler analyzer
  analyzers/Zscaler/README.md
  analyzers/Zscaler/Zscaler.json
  analyzers/Zscaler/assets/zscaler_logo.png
  analyzers/Zscaler/assets/zscaler_url_lookup_long.png
  analyzers/Zscaler/assets/zscaler_url_lookup_short.png
  analyzers/Zscaler/requirements.txt
  analyzers/Zscaler/zscaler.py
  thehive-templates/Zscaler_1_3/long.html
  thehive-templates/Zscaler_1_3/short.html
Labels: category:new-analyzer

#1022 Updated JSB analyzer
  analyzers/JoeSandbox/JoeSandbox_File_Analysis_Inet.html
  analyzers/JoeSandbox/JoeSandbox_File_Analysis_Inet.json
  analyzers/JoeSandbox/JoeSandbox_File_Analysis_Noinet.html
  analyzers/JoeSandbox/JoeSandbox_File_Analysis_Noinet.json
  analyzers/JoeSandbox/README.md
  analyzers/JoeSandbox/assets/HTML_report.png
  analyzers/JoeSandbox/assets/IP_URL.png
  analyzers/JoeSandbox/assets/images_preview.png
  analyzers/JoeSandbox/joesandbox_analyzer.py
Labels: category:enhancement, scope:analyzer

#852 Velociraptor: Add upload functionality for flow results
  responders/Velociraptor/README.md
  responders/Velociraptor/velociraptor_flow.json
  responders/Velociraptor/velociraptor_flow.py
Labels: category:enhancement, scope:responder, status:needs-docs

#1031 Issue:1030 Ldap_Query_2_0_Fix uid_search_field attribute when reading…
  analyzers/LdapQuery/ldapQuery.py
Labels: analyzer-update, category:bugfix

#1073 feat: Add analyzer looking into SEKOIA's observables
  analyzers/SEKOIAIntelligenceCenter/IntelligenceCenter_observables.json
  analyzers/SEKOIAIntelligenceCenter/README.md
  analyzers/SEKOIAIntelligenceCenter/assets/SEKOIAIntelligenceCenter_Observables_long.png
  analyzers/SEKOIAIntelligenceCenter/sekoia_intelligence_center_analyzer.py
  thehive-templates/SEKOIAIntelligenceCenter_Observables_1_0/long.html
  thehive-templates/SEKOIAIntelligenceCenter_Observables_1_0/short.html
Labels: analyzer-update
