Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2023-08, with the labels that each got.

#1153 Rename 'LastInfoSec' analyzer to 'Gatewatcher CTI' and add feature
  analyzers/Gatewatcher_CTI/Gatewatcher_CTI.json
  analyzers/Gatewatcher_CTI/Gatewatcher_CTI.py
  analyzers/Gatewatcher_CTI/README.md
  analyzers/Gatewatcher_CTI/assets/Gatewatcher_CTI_logo.png
  analyzers/Gatewatcher_CTI/assets/Gatewatcher_CTI_long.png
  analyzers/Gatewatcher_CTI/assets/Gatewatcher_CTI_short.png
  analyzers/Gatewatcher_CTI/requirements.txt
  analyzers/LastInfoSec/LastInfoSec.json
  analyzers/LastInfoSec/assets/LastInfoSec_long.png
  analyzers/LastInfoSec/assets/LastInfoSec_short.png
  analyzers/LastInfoSec/assets/logolastinfosec.png
  thehive-templates/Gatewatcher_CTI_1_0/long.html
  thehive-templates/Gatewatcher_CTI_1_0/short.html
Labels: category:enhancement

#1183 Editing bug related to https://github.com #1182
  analyzers/OpenCTI/opencti.py
Labels: category:bug, category:bugfix

#1196 Fix analyzer and long report templates
  analyzers/SEKOIAIntelligenceCenter/sekoia_intelligence_center_analyzer.py
  thehive-templates/SEKOIAIntelligenceCenter_Context_1_0/long.html
  thehive-templates/SEKOIAIntelligenceCenter_Indicators_1_0/long.html
  thehive-templates/SEKOIAIntelligenceCenter_Observables_1_0/long.html
Labels: category:enhancement, scope:analyzer, priotiry:high, category:bugfix

#1144 fix lacking json enclosure
  docs/dev_guides/how-to-test-an-analyzer.md
Labels: scope:doc

#1126 HarfangLab EDR responder contribution
  responders/HarfangLab/.gitignore
  responders/HarfangLab/HarfangLab.py
  responders/HarfangLab/HarfangLab_DumpProcess.json
  responders/HarfangLab/HarfangLab_GetArtifactAll.json
  responders/HarfangLab/HarfangLab_GetArtifactEvtx.json
  responders/HarfangLab/HarfangLab_GetArtifactFilesystem.json
  responders/HarfangLab/HarfangLab_GetArtifactHives.json
  responders/HarfangLab/HarfangLab_GetArtifactLogs.json
  responders/HarfangLab/HarfangLab_GetArtifactMFT.json
  responders/HarfangLab/HarfangLab_GetArtifactPrefetch.json
  responders/HarfangLab/HarfangLab_GetArtifactRamdump.json
  responders/HarfangLab/HarfangLab_GetArtifactUSN.json
  responders/HarfangLab/HarfangLab_GetBinary.json
  responders/HarfangLab/HarfangLab_GetDrivers.json
  responders/HarfangLab/HarfangLab_GetNetworkShares.json
  responders/HarfangLab/HarfangLab_GetPersistence.json
  responders/HarfangLab/HarfangLab_GetPipes.json
  responders/HarfangLab/HarfangLab_GetPrefetches.json
  responders/HarfangLab/HarfangLab_GetProcesses.json
  responders/HarfangLab/HarfangLab_GetRunKeys.json
  responders/HarfangLab/HarfangLab_GetScheduledTasks.json
  responders/HarfangLab/HarfangLab_GetServices.json
  responders/HarfangLab/HarfangLab_GetSessions.json
  responders/HarfangLab/HarfangLab_GetStartupFiles.json
  responders/HarfangLab/HarfangLab_GetWMI.json
  responders/HarfangLab/HarfangLab_Isolate.json
  responders/HarfangLab/HarfangLab_KillProcess.json
  responders/HarfangLab/HarfangLab_SearchDestinationIP.json
  responders/HarfangLab/HarfangLab_SearchDriverByFileName.json
  responders/HarfangLab/HarfangLab_SearchDriverByHash.json
  responders/HarfangLab/HarfangLab_SearchHash.json
  responders/HarfangLab/HarfangLab_SearchSourceIP.json
  responders/HarfangLab/HarfangLab_Unisolate.json
  responders/HarfangLab/README.md
  responders/HarfangLab/assets/HarfangLab_logo.png
  responders/HarfangLab/requirements.txt
Labels: category:new-responder
