Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2024-09, with the labels that each got.

#1258 EclecticIQ responder
  responders/EclecticIQIndicator/Dockerfile
  responders/EclecticIQIndicator/EclecticIQIndicator.json
  responders/EclecticIQIndicator/EclecticIQIndicator.py
  responders/EclecticIQIndicator/requirements.txt
Labels: category:new-responder

#1270 KasperskyTIP fix: previously ignored category orange now is malicious
  analyzers/KasperskyTIP/KasperskyTIP.py
Labels: category:bug

#1256 Added EclecticIQ Analyser
  analyzers/EclecticIQ/EclecticIQ_SearchObservable.json
  analyzers/EclecticIQ/README.md
  analyzers/EclecticIQ/assets/logo.png
  analyzers/EclecticIQ/eclecticiq.py
  analyzers/EclecticIQ/requirements.txt
  thehive-templates/EclecticIQ_SearchObservable_1_0/long.html
  thehive-templates/EclecticIQ_SearchObservable_1_0/short.html
Labels: category:new-analyzer

#1083 Updated Censys Analyzer for latest API
  analyzers/Censys/censys_analyzer.py
Labels: category:enhancement
