Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2025-03, with the labels that each got.

#1327 LdapQuery3.0: Import Observables, Tags and Custom Fields
  analyzers/LdapQuery/LdapQuery.json
  analyzers/LdapQuery/README.md
  analyzers/LdapQuery/ldapQuery.py
  thehive-templates/Ldap_Query_3_0/long.html
  thehive-templates/Ldap_Query_3_0/short.html
Labels: analyzer-update

#1059 Mailer responder needs to be fixed when checking description
  responders/Mailer/mailer.py
Labels: category:bugfix

#1334 Deprecation support for analyzers & responders in CI
  .github/workflows/build.yml
  analyzers/Fortiguard/Fortiguard_URLCategory.json.deprecated
  analyzers/Threatcrowd/Threatcrowd.json.deprecated
Labels: category:enhancement

#1335 Fix TeamCymru analyzer
  analyzers/TeamCymruMHR/TeamCymruMHR.json
  analyzers/TeamCymruMHR/TeamCymruMHR.py
  thehive-templates/TeamCymruMHR_1_0/long.html
Labels: analyzer-update

#1040 Ibmxfe updates
  analyzers/IBMXForce/IBMXForce_Lookup.json
  analyzers/IBMXForce/ibmxforce_lookup.py
Labels: category:upgrade

#1029 [IntezerCommunity] Added support for hash (sha256) type
  analyzers/IntezerCommunity/IntezerCommunity.json
  analyzers/IntezerCommunity/intezer_community.py
Labels: category:upgrade
