Repository TheHive-Project/Cortex-Analyzers, pull requests merged in 2025-02, with the labels that each got.

#1321 Shuffle - Support all datatypes as trigger for responder
  responders/Shuffle/shuffle.json
Labels: scope:responder

#1322 Update Elasticsearch Analyzer to not fail when @timestamp has no mapping in searched indices
  analyzers/Elasticsearch/elk.py
Labels: analyzer-update

#1037 exception resolved in ipv6 address
  analyzers/DShield/DShield_lookup.py
Labels: category:bugfix

#1325 Alpine docker images support + dockerfile & Requirements.txt cleanup
  analyzers/Abuse_Finder/Dockerfile
  analyzers/Abuse_Finder/abusefinder.py
  analyzers/Autofocus/Dockerfile
  analyzers/Autofocus/requirements.txt
  analyzers/CISMCAP/Dockerfile
  analyzers/Capa/Dockerfile
  analyzers/Censys/Dockerfile
  analyzers/Censys/censys_analyzer.py
  analyzers/CheckPhish/Dockerfile
  analyzers/Cluster25/Dockerfile
  analyzers/Crtsh/Dockerfile
  analyzers/Cylance/requirements.txt
  analyzers/DNSDB/Dockerfile
  analyzers/DShield/Dockerfile
  analyzers/EchoTrail/Dockerfile
  analyzers/Elasticsearch/requirements.txt
  analyzers/FalconSandbox/Dockerfile
  analyzers/GRR/requirements.txt
  analyzers/GoogleDNS/Dockerfile
  analyzers/Malwares/malwares.py
  analyzers/OpenCTI/Dockerfile
  analyzers/PaloAltoWildFire/Dockerfile
  analyzers/QrDecode/Dockerfile
  analyzers/Splunk/Dockerfile
  analyzers/Threatcrowd/Dockerfile
  analyzers/Verifalia/Dockerfile
  analyzers/VirusTotal/Dockerfile
  analyzers/Yeti/Dockerfile
  analyzers/Yeti/requirements.txt
  responders/AWSLambda/Dockerfile
  responders/BinalyzeAIR/README.md
  responders/BinalyzeAIR/assets/binalyze-logo.png
  responders/BinalyzeAIR/binalyze.py
  responders/BinalyzeAIR/binalyze_air_acquisition.json
  responders/BinalyzeAIR/binalyze_air_isolation.json
  responders/BinalyzeAIR/requirements.txt
  responders/CheckPoint/requirements.txt
  responders/FalconCustomIOC/Dockerfile
  responders/Gmail/Dockerfile
  responders/KnowBe4/Dockerfile
  responders/MSDefenderEndpoints/Dockerfile
  responders/MailIncidentStatus/Dockerfile
  responders/Netcraft/Dockerfile
  responders/PaloAltoCortexXDR/Dockerfile
  responders/PaloAltoNGFW/requirements.txt
  responders/SendGrid/requirements.txt
  responders/SentinelOne/Dockerfile
  responders/Telegram/requirements.txt
  responders/Velociraptor/Dockerfile
  responders/VirustotalDownloader/Dockerfile
Labels: category:enhancement

#1054 Paloalto wildfire responder
  responders/PaloAltoWildfire/PaloAltoWildfire.py
  responders/PaloAltoWildfire/PaloaltoWildfireSubmission.json
  responders/PaloAltoWildfire/README.md
  responders/PaloAltoWildfire/requirements.txt
Labels: category:new-responder

#1329 Yara analyzer version 3.0 - GitHub repositories support
  analyzers/Yara/Dockerfile
  analyzers/Yara/Yara.json
  analyzers/Yara/requirements.txt
  analyzers/Yara/yara_analyzer.py
  thehive-templates/Yara_2_0/long.html
  thehive-templates/Yara_3_0/long.html
  thehive-templates/Yara_3_0/short.html
Labels: analyzer-update

#1330 Update Umbrella.py
  analyzers/Umbrella/Umbrella.py
Labels: analyzer-update
